<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de juegos</title>
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/juegosStyles.css">
</head>
<body>
 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Gaming Galaxy </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrito</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container-detalles">
    <div class="slider">
  <button id="anterior">&#10094;</button>
  <img id="imagen-slider" src="" alt="Imagen del juego" />
  <button id="siguiente">&#10095;</button>
</div>  
    <div class="info">
      <h1 id="nombre-juego"></h1>
      <ul class="datos">
        <li><strong style="color: #28a745;">Género:</strong> <span id="genero"></span></li>
        <li><strong style="color: #28a745;">Consola:</strong> <span id="consola"></span></li>
        <li><strong style="color: #28a745;">Precio:</strong> $<span id="precio"></span></li>
      </ul>
      <h3 style="color: #28a745;">Descripción:</h3>
      <p id="descripcion"></p>

      <h3 style="color: #28a745;">Tráiler:</h3>
<div class="trailer-container">
  <iframe id="trailer-juego" width="55%" height="150" frameborder="0" allowfullscreen></iframe>
</div>
      <button class="comprar">Agregar al Carrito</button>
    </div>
  </div>
  <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
      <p class="mb-0">&copy; 2025 Game Zone. Todos los derechos reservados.</p>
    </footer>

    <script type="module" src="./js/juegos.js"></script>
    <script src="./js/productos.js"></script>
</body>
</html>